@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap");

* {
	-webkit-user-select: none;
	outline: none;
}
button {
	cursor: pointer;
}

#draggable {
	width: 100%;
	height: 23px;
	-webkit-app-region: drag;
	position: absolute;
	top: 0px;
}

body {
	margin: 0px;
	padding: 0px;
}

#container {
	flex-direction: column;
	flex: auto;
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100vh;
	background-color: #dfdfdfa8;
}

#interactionArea {
	display: none;
	flex-direction: column;
	height: 100vh;
}

#topArea {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: space-around;
	height: 35vh;
}

#title {
	font-size: 62px;
	font-family: "Roboto mono";
	color: #cc6166;
}

#description {
	font-family: "Roboto Mono";
	font-size: 16;
	max-width: 85%;
}

#chooseContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 65vh;
	background-color: #fff;
	border-top-right-radius: 30;
	border-top-left-radius: 30;
}

.chooseArea {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 4px;
	padding-left: 20px;
}

.chooseTitle {
	color: #353535;
	font-family: "Roboto Mono";
	font-size: 16px;
	margin-left: 20px;
}

.chooseButton {
	display: flex;
	background-color: #cc6166;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	font-family: "Roboto Mono";
	width: 90%;
	align-items: center;
	align-self: center;
	justify-content: center;
	border-width: 0px;
	border-radius: 10px;
	padding: 7px;
}

.chooseButton:hover {
	opacity: 0.8;
}

#loaderContainer {
	display: flex;
	margin: 0px;
	padding: 0px;
	height: 100vh;
	align-items: center;
	justify-content: center;
	overflow-y: hidden;
	overflow-x: hidden;
}

#loader {
	width: 70px;
	height: 70px;
	margin: auto;
	border: 10px solid #a4a4a4;
	border-top-color: #cc6166;
	border-radius: 50%;
	-webkit-animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}
