@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap");

* {
	-webkit-user-select: none;
	outline: none;
}

body {
	background-color: #fff;
	margin-top: 0px;
}

button {
	cursor: pointer;
}

#draggable {
	width: 100%;
	height: 23px;
	-webkit-app-region: drag;
}

#goBackButton {
	background-color: #fff;
	color: #cc6166;
	font-family: "Roboto Mono";
	font-size: 14px;
	border: 2px solid #cc6166;
	border-radius: 6px;
	margin-left: 8px;
	margin-top: 8px;
	cursor: pointer;
}

#pageTitle {
	font-family: "Roboto Mono";
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	color: #cc6166;
}

#autoLauchInputLabel {
	font-family: "Roboto Mono";
}

#contentSeparator {
	border-width: 0px;
	background-color: #acacac;
	height: 2px;
	margin-top: 30px;
}

#userIcon {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding-left: 12px;
	color: #797979;
	font-size: 34px;
	font-family: "Roboto Mono";
	background-color: transparent;
}

#userInfoTitle {
	font-size: 24px;
	margin-left: 20px;
}

#emailData {
	background-color: transparent;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#emailDataTitle {
	font-family: "Roboto Mono";
	font-weight: bold;
	font-size: 16px;
	margin: 0px;
	margin-bottom: 8px;
	margin-left: 4px;
}

#emailAdress {
	margin: 0px;
	font-family: "Roboto Mono";
	font-weight: normal;
	font-size: 14px;
	margin-left: 12px;
}

#resetPasswordButton {
	width: 40%;
	border: 2px solid #858585;
	border-radius: 8px;
	padding: 3px;
	color: #707070;
	font-family: "Roboto Mono";
	font-size: 14px;
	margin-left: 8px;
	margin-top: 25px;
	cursor: pointer;
}

#logOutButton {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 70%;
	cursor: pointer;
	background-color: #cc6166;
	border-width: 0px;
	border-radius: 14px;
	font-family: "Roboto Mono";
	font-size: 26px;
	color: #fff;
	align-self: center;
	margin-top: 30px;
}

#logOutButton:hover {
	opacity: 0.8;
}

#logOutText {
	font-size: 16px;
	margin-left: 10px;
}
